<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.business.system.mapper.PowerMapper">
    <select id="queryList" resultType="com.qf.data.system.dto.PowerDto">
        select *,(select power_name from power where id = p.pid) as parentName from power p
    </select>
</mapper>